<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<h1 th:text="'Hello, ' + ${user.name} + '! Welcome to spring boot user page!'">...</h1>
<br>
<table border="1">
    <tr>
        <th th:width="50">Id</th>
        <th th:width="100">Name</th>
        <th th:width="100">Lastname</th>
        <th th:width="50">Age</th>
        <th th:width="100">Email</th>
        <th th:width="100">Password</th>
        <th th:width="100">Role</th>
    </tr>

    <tr>
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastname()}">lastname</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.getEmail()}">email</td>
        <td th:utext="${user.getPassword()}">pass</td>
        <td th:utext="${#strings.setJoin(user.getAuthorities, ',')}">role</td>
    </tr>
</table>
<br>

<th:authorize access="isAuthenticated()">
    <h4><a href="/logout">Logout</a></h4>
</th:authorize>

</body>
</html>